@import url('https://fonts.googleapis.com/css?family=Monoton|Zilla+Slab:400');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

@import 'variables';
@import 'base';

[v-cloak] {
  display: none;
}

body,
input,
button,
caption,
small,
p,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Zilla Slab', sans-serif;
  letter-spacing: .03em;
}

audio {
  margin: 2em 0;
  width: 100%;
}

body {
  background: $backgroundColor;
  color: $backgroundColorLight;
  text-align: center;
}

button {
  @include transition();
  border: 0;
  display: block;
  outline: 0;
}

// episode card date
// h3 + p {
//   @include transition();
//   color: $lightColor;
// }
input[type=text] {
  @include transition();
  background: transparent;
  border: 0;
  border-bottom: 2px solid $lightColor;
  border-radius: 0;
  color: $lightColor;
  font-size: 1.25em;
  outline: 0;
  position: relative;
  width: 100%;
  &+i {
    color: $lightColor;
  }
  &:focus {
    border-bottom: 2px solid $secondColor;
    color: $secondColor;
    &:focus+i {
      color: $secondColor;
    }
  }
}

li button {
  @include box-shadow($primeColor);
  background-color: $primeColor;
  color: $backgroundColor;
  margin: 1em auto;
  padding: 1.5em;
  width: 500px;
}

ul li:first-child {
  margin-top: 1em;
}

.bg-dark {
  background-color: $backgroundColor;
}

// Open drawer
.open {
  animation: open 1s ease forwards;
}

// Close drawer
.close {
  animation: close 1s ease forwards;
}

.fade-enter-active,
.fade-leave-active {
  @include transition();
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.btn-circle {
  @include box-shadow($primeColor);
  @include transition();
  align-items: center;
  background: $lightColorDark;
  border: 1px solid #DDA01E;
  border-radius: 100%;
  color: $primeColor;
  display: inline-flex;
  justify-content: center;
  // margin: 2em;
  width: 45px;
  height: 45px;
  &:active {
    @include box-shadow($primeColor);
    background: $primeColor;
    color: $backgroundColor;
  }
  &:focus {
    outline: 0;
  }
}

// target small mobile
@media (max-width: 425px) {
  li button {
    width: 100%;
  }
  .btn-circle {
    // margin: 2em 1em;
    & i {
      margin-left: -1.75px;
    }
  }
}

// target above tablet
@media (min-width: 769px) {
  li button:hover {
    @include box-shadow($secondColor);
    background-color: $secondColor;
    color: $secondColorLight;
    width: 560px;
    & p {
      color: $secondColorLight;
    }
  }
  .btn-circle {
    // margin: 2em 1em;
  }
  .btn-circle:hover {
    @include box-shadow($primeColor);
    background: $primeColor;
    color: $backgroundColor;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes open {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 100%;
    opacity: 1;
  }
}

@keyframes close {
  from {
    max-height: 100%;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}

.slide-enter {
  animation: slide-in 3s ease forwards;
}

.slide-leave {
  animation: slide-out 3s ease forwards;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}
