// @import url('https://fonts.googleapis.com/css?family=Lato|Oswald:300,600');
@import url('https://fonts.googleapis.com/css?family=Monoton|Zilla+Slab:400');

// $backgroundColor: white;
// $primeColor: #2196F3;
// $secondColor: #424242;
// $secondColorLight: #757575;
// $lightColor: whitesmoke;
// $lightColorDark: lightgray;

$backgroundColor: #171523;
$backgroundColorLight: dimgray;
$primeColor: #DDA01E;
$secondColor: #B61F3E;
$secondColorLight: royalblue;
$lightColor: #3A3849;
$lightColorDark: #242230;

@mixin box-shadow($color) {
  box-shadow: 0 0 10px $color;
}

@mixin transition() {
  transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

[v-cloak] {
  display: none;
}

body, input, button, caption, small, p, h2, h3, h4, h5, h6 {
  font-family: 'Zilla Slab', sans-serif;
  letter-spacing: .03em;
}

audio {
  margin: 2em 0;
  width: 100%;
}

body {
  background: $backgroundColor;
  color: $backgroundColorLight;
  text-align: center;
}

button {
  @include transition();
  border: 0;
  display: block;
  outline: 0;
}

button p {
  text-transform: uppercase;
}

h1 {
  color: $primeColor;
  font-family: 'Monoton', sans-serif;
  font-size: 3.25rem;
  // font-weight: 600;
  margin: 1em 0;
}

// episode title
h2 {
  color: $secondColor;
  font-size: 1.5rem;
  margin-bottom: 1em;
}

// episode date
h2 + p {
  margin: 1em 0;
  text-transform: uppercase;
}

// episode card title
h3 {
  // color: $backgroundColor;
  font-size: 1.33em;
  margin-bottom: 1em;
}

// episode card date
h3 + p {
  @include transition();
  color: dimgray;
}

input[type=text] {
  @include transition();

  background: transparent;
  border: 0;
  border-bottom: 2px solid $lightColor;
  border-radius: 0;
  color: $lightColor;
  font-size: 1.25em;
  outline: 0;
  position: relative;
  width: 400px;

  & + i {
    color: $lightColor;
  }

  &:focus {
    border-bottom: 2px solid $secondColor;
    color: $secondColor;
  
    &:focus + i {
      color: $secondColor;
    }
  }
}

li button {
  @include box-shadow($lightColorDark);

  background-color: $lightColorDark;
  color: $secondColorLight;
  margin: 1em auto;
  padding: 1.5em;
  width: 500px;
}

ul li:first-child {
  margin-top: 1em;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 960px;
}

// Open drawer
.open {
    animation: open 1s ease forwards;
}

// Close drawer
.close {
    animation: close 1s ease forwards;
}

.fade-enter-active,
.fade-leave-active {
   @include transition();
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.row {
  width: 100%;
}

.btn-circle {
  @include box-shadow($primeColor);
  @include transition();

  align-items: center;
  background: $lightColorDark;
  border-radius: 100%;
  color: $primeColor;
  display: inline-flex;
  justify-content: center;
  margin: 2em;
  width: 45px;
  height: 45px;
}

// target small mobile
@media (max-width: 425px) {
  li button {
    width: 100%;
  }
}

// target above tablet
@media (min-width: 769px) {

  li button:hover {
    @include box-shadow($primeColor);

    background-color: $primeColor;
    color: $backgroundColor;
    width: 560px;

    & p {
      color: $backgroundColor;
    }
  }

  .btn-circle:hover {
    @include box-shadow($primeColor);

    background: $primeColor;
    color: $backgroundColor;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes open {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 100%;
        opacity: 1;
    }
}

@keyframes close {
    from {
        max-height: 100%;
        opacity: 1;
    }
    to {
        max-height: 0;
        opacity: 0;
    }
}